<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef> Nombres</th>
      <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef> Apellidos</th>
      <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>

    <ng-container matColumnDef="identificacion">
      <th mat-header-cell *matHeaderCellDef> Identificacion</th>
      <td mat-cell *matCellDef="let element"> {{element.identificacion}} </td>
    </ng-container>

    <ng-container matColumnDef="domicilio">
      <th mat-header-cell *matHeaderCellDef> Domicilio</th>
      <td mat-cell *matCellDef="let element"> {{element.domicilio}} </td>
    </ng-container>

    <ng-container matColumnDef="actualizar">
      <th mat-header-cell *matHeaderCellDef> Opciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" style="margin-right: 10px" (click)="updateData(element._id)">
          Actualizar
        </button>
        <button mat-raised-button color="warn" style="margin-right: 10px" (click)="deleteData(element._id)">Eliminar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<button mat-raised-button color="primary" style="margin-top: 10px" (click)="openDialog()">Registrar</button>
